@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

#username-box input {
  background-color: blanchedalmond;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
  border-style: solid;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  accent-color: rgb(66, 135, 86);
}

input:hover {
  cursor: pointer;
}

#get-projects:hover {
  background-color: rgb(66, 135, 86);
}

.projects-list-results {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.project__result {
  height: 150px;
  width: 150px;

  background-repeat: no-repeat;
  background-size: 100%;

  margin: 10px;
  border-radius: 5px;

  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  box-shadow: -1px 1px 5px grey;
}

.project__result a {
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.project__title {
  box-shadow: -1px 1px 5px grey;
  padding: 10px;
  margin: 5px;
  color: black;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}

.spinner:before {
  content: "";
  border: 2px solid #ccc;
  animation: rotate 0.6s linear infinite;
  border-top-color: black;
  border-radius: 1em;
  vertical-align: middle;
  margin-left: 1em;
  width: 0.75em;
  height: 0.75em;
  display: inline-block;
}

#username-box {
  display: flex;
  height: 50%;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
  border-radius: 10px;
}

#no-results {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
